*{
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a:hover{
color: rgb(3, 219, 219);
}

h1, h2{
      font-family: 'Cinzel Decorative', cursive;
}

