.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #0e1129;
  position: sticky;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin-top: 10px;
  position: sticky;
}
.navbar-links li {
  text-decoration: none;
}
.nav-item:hover {
  color: aliceblue;
}
li a {
  text-decoration: none;
  color: whitesmoke;
}

.logo-container {
  margin-left: 20px;
  margin-top: -10px;
}
.logo {
  align-items: center;
  align-content: center;
  width: 100px;
  height: 50px;
}
.active-link {
  font-weight: bold;
  border-radius: 20px;
}
.hidden {
  visibility: hidden;
}

/* //<------- BURGER BUTTON ------> */
.burger-button {
  visibility: hidden;
  padding-right: 10px;
  margin-top: 0px;
}

@media screen and (max-width: 800px) {
  /* //<------- BURGER BUTTON ------> */
  .burger-button {
    visibility: visible;
    align-self: flex-start;
  }

  .navbar {
    flex-direction: row;
    transition: all 200ms ease-in-out;
    z-index: 100;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
    gap: 20px;
    width: 90%;
    height: 60vh;
    margin-top: 0px;
    background-color: rgb(241, 219, 219);
    font-size: large;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(29px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .navbar-links:hover {
    color: #0e1129;
  }
  .show {
    visibility: visible;
  }

  .logo {
    padding-left: 10px;
  }
}
